{% extends 'sightings/base.html' %}

{% block main %}
<title>Home Page</title>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">
                <strong>Project Members</strong>
              </p >
              <div class="d-flex justify-content-between align-items-center"> 
                <small class="text-muted"><li>Annan Chen(ac4619)</small>
                <small class="text-muted"><li>Tianqi Shen(ts3255)</small>
              </div>
            </div>
          </div>
        
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">
                <a class="btn btn-success" href= "map"  > Map </a>
              </p >
              <div class="d-flex justify-content-between align-items-center"> 
                <small class="text-muted">Seeing squirrels on the map</small>
              </div>
            </div>
          </div>
        
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">
                <a class="btn btn-success" href= "sightings"  > Sightings </a>
              </p >
              <div class="d-flex justify-content-between align-items-center"> 
                <small class="text-muted">Check the list of all squirrels</small>

              </div>
            </div>
          </div>
        
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">
                <a class="btn btn-success" href= "sightings/stats"  > Stats </a>
              </p >
              <div class="d-flex justify-content-between align-items-center"> 
                <small class="text-muted">Some statistics of squirrels</small>
              </div>
            </div>
          </div>
        
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">
                <a class="btn btn-success" href= "admin"  > Admin </a>
              </p >
              <div class="d-flex justify-content-between align-items-center"> 
                <small class="text-muted">Admin Page - Email us to get the account&password :)</small>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
{% endblock %}

