{% extends 'sightings/base.html' %}

{% block main %}
<title>Home Page</title>
<p><a class="btn btn-primary" href= "map"  >Go to Map</a>  <div class="album py-5 bg-light">
<p><a class="btn btn-primary" href= "sightings"  >Go to Sightings</a>  <div class="album py-5 bg-light">
<p><a class="btn btn-primary" href= "sightings/stats"  >Squirrel Stats</a>  <div class="album py-5 bg-light">
<p><a class="btn btn-primary" href= "admin"  >Admin Page</a>  <div class="album py-5 bg-light">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">
                <strong>Project Members</strong>
              </p >
              <div class="d-flex justify-content-between align-items-center"> 
                <small class="text-muted"><li>Annan Chen(ac4619)</small>
                <small class="text-muted"><li>Tianqi Shen(ts3255)</small>
              </div>
              <div class="d-flex justify-content-between align-items-center"> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

